@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.home {
    display: flex;
    min-height: 100vh;
    color: #fff;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 750px) {

    .home {
        padding: 60px;
    }

    .home .max-width {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .home-content .text-1 {
    font-size: 2.4em;
    /* padding-left: 45px; */
    font-family: 'Poppins', serif;
}

.home .home-content .text-2 {
    font-size: 2.5em;
    /* padding-left: 45px; */
    font-family: 'Poppins', serif;
}

.home .home-content .text-3 {
    font-size: 40px;
    padding: 45px 45px 45px 0;
    font-family: 'Poppins', serif;
}

.home .home-content .text-3 span {
    font-weight: bold;
}

img {
    width: 400px;
}

/* CSS for the text */
.text-1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* CSS for the waving emoji */
  .wave {
    display: inline-block; /* Allows for rotation */
    animation: wave 2s infinite; /* Apply animation */
    transform-origin: 70% 70%; /* Adjust the pivot point */
  }
  
  /* Keyframes for the waving animation */
  @keyframes wave {
    0% { transform: rotate(0deg); }    /* Start position */
    10% { transform: rotate(14deg); }  /* Wave to the right */
    20% { transform: rotate(-8deg); }  /* Wave to the left */
    30% { transform: rotate(14deg); }  /* Wave to the right */
    40% { transform: rotate(-4deg); }  /* Slight wave to the left */
    50% { transform: rotate(10deg); }  /* Slight wave to the right */
    60% { transform: rotate(0deg); }   /* Back to start position */
    100% { transform: rotate(0deg); }  /* End position */
  }
  